@page
@model Assignment2.Pages.ResetPasswordModel
@{

    <form method="post">
        <input asp-for="ResetPassword.Token" type="hidden" />

        <label asp-for="ResetPassword.NewPassword"></label>
        <input asp-for="ResetPassword.NewPassword" />
        <span asp-validation-for="ResetPassword.NewPassword"></span>

        <button type="submit">Reset Password</button>
    </form>
}